<div class="ekart--header">
    <div class="ekart-logo">
        eKart
    </div>
    <div class="ekart--header--nav">
        <!-- top-meny -->
         <app-top-menu></app-top-menu>
          <div class="ekart--bottom--bar">
           <!-- main menu -->
            <app-main-menu></app-main-menu>
            <div class="ekart--search-bar">
               <input type="text" class="ekart-search-box" placeholder="Search">
               <button class="ekart--search--btn">
               Search
                <!-- <i class="fa fa fa-search" aria-hidden="true"></i> -->
               </button>
            </div>
            
          </div>
    </div>
    
</div>
<router-outlet></router-outlet>

