<div class="product-detail">
    <div>
        <i class="fa fa-times" aria-hidden="hidden"></i>
    </div>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <div>
            <h2>
                Miche; February SK8-Hi
            </h2>
        </div>
        <div>
            <span>Men</span><span>Nike</span><span>Sports</span>
        </div>
        <div>
            <p>
                <b>Price Each Pair</b>
                <span><s>$699</s></span>
                <span>$599</span>
            </p>
        </div>
        <div>
            <div><h4>Available Size</h4></div>
        </div>
        <div>
            <span>6</span><span>7</span><span>8</span><span>9</span>
        </div>
    </div>
</div>
